<div>
  <div>
    <app-header></app-header>
  </div>

  <div class="container-fluid">
   <div class="row">
      <div class="col-12">
        <p class="m-1 text-black ms-md-5 ms-2 breadcrumb-text">
          {{ selectedSite }} &gt; {{ selectedTitle }} &gt; {{ selectedSubItem }}
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-12 col-sm-12 mb-3 p-0">
        <app-resources (selectionChanged)="onSelectionChanged($event)"></app-resources>
      </div>

     <div class="col-lg-9 col-md-12 col-sm-12 p-0">
        <div class="table-wrapper">
          <app-table [node]="selectedSubItem"></app-table>
        </div>
      </div>
    </div>
  </div>
</div>